.application-card {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .student-info {
    display: flex;
    justify-content: space-between;
    text-align: right;
  }
  
  .timestamp {
    color: #666666;
  }
  
  .application-details {
    flex: 2;
  }
  
  .application-details p {
    margin: 0;
  }
  
  .application-number {
    font-size: 24px;
    font-weight: bold;
    color: #ff6477;
  }
  
  .course-info {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
  }
  
  .university-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .location-icon {
    margin-right: 5px;
  }
  
  .university-name {
    font-size: 16px;
    color: #000000;
  }
  
  .campus {
    font-size: 16px;
    color: #000000;
  }
  
  .status {
    display: flex;
    align-items: center;
  }
  
  .status-label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
    color: #000000;
  }
  
  .status-value {
    font-size: 16px;
    color: #000000;
  }
  
  .view-details-btn {
    background-color: rgb(255, 100, 119);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .view-details-btn:hover {
    background-color: #ff3567;
  }

  .view-details-btn-container {
    display: flex;
    justify-content: flex-end;
  }
  